.container {
  text-align: center;
  width: 70vw;
}

.website {
  margin-top: 50px;
  color: rgb(180, 180, 180);
}

.arrow {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 60px;
  height: auto;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .container {
    width: 40vw;
  }
}
