@font-face {
  font-family: "cochin";
  src: url("/cochin.ttc");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: cochin, Baskerville, Georgia, Times, "Times New Roman", serif;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
