.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nodule-of-flint {
  padding: 5px;
  margin-top: 10px;
}

.nodule-image {
  width: 350px;
  height: 350px;
}

@media screen and (min-width: 600px) {
  .nodule-image {
    width: 250px;
    height: 250px;
  }
}
