.nav {
  margin: 20px 0 20px 0;
  height: 50px;
  padding: 0px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.nav ul li {
  margin-top: 10px;
}
